.venv/
.venv*/
venv/
__pycache__/
*.pyc
.env
logs/*.log
logs/*.err
command_scripts/job.sh

# Data files
*.parquet
*.csv
*.pth
# Exception for ablation study results
!ablation_studies/*.csv

# Stupid macOS stuff
*.DS_Store

# Dataset
dataset/

ablation_studies/logs/*.log
ablation_studies/logs/*.err

literature/