.venv/
.venv*/
venv/
__pycache__/
*.pyc
.env
logs/*.log
logs/*.err
command_scripts/job.sh

# Data files
*.parquet
*.csv
*.pth

# Stupid macOS stuff
*.DS_Store

# Dataset
dataset/

# Ablation testing 
ablation_studies/